<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="BestBuyTest">
    <classes>
      <class name="Testcase.TS007_ValidateLinkInBottom"/>
      <class name="Testcase.TS003_CreateAccount"/>
      <class name="Testcase.TC005_CheckTitleofAllMenu"/>
      <class name="Testcase.TS008_SelAdditemsShopBydept"/>
      <class name="Testcase.TS002_ValidateUrl"/>
      <class name="Testcase.TS010_ChekOutPagefilling"/>
      <class name="Testcase.TS009_SelAdditemShopByBrand"/>
      <class name="Testcase.TS001_navigatingtoBB"/>
      <class name="Testcase.TS006_SearchAdditeminCart"/>
      <class name="Testcase.TS004_SignInFunction"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
